<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bank.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="index-page">
	<div class="index-header">
	    <h1><p th:text="'Bienvenue ' + ${client.lastname + ' ' + client.firstname}"></p></h1>
	  	<h2><p th:text="'Votre solde : ' + ${compte.balance} +'€'"></p></h2>
	</div>
	<div class="operations">
		<div class="inOperations">
		<h3><span>Opérations entrantes</span></h3>
		<table>
		  <tr>
		    <th>Montant</th>
		    <th>Description</th>
		    <th>Date</th>
		    <th>Créditeur</th>
		  </tr>
		<tr th:each="inOperation: ${inOperations}">
		    <td th:text="${inOperation.amount} + '€'" />
   		    <td th:text="${inOperation.details}" />
   		    <td th:text="${inOperation.createdAt}" />
   		    <td th:text="${inOperation.fromAccount.client.lastname} + ' ' + ${inOperation.fromAccount.client.firstname}" />
		</tr>
		</table>
		</div>
		<div class="outOperations">
		<h3><span>Opérations sortantes</span></h3>
		<table>
		<tr>
		    <th>Montant</th>
		    <th>Description</th>
		    <th>Date</th>
		    <th>Débiteur</th>
		  </tr>
		<tr th:each="outOperation: ${outOperations}">
		    <td th:text="${outOperation.amount} + '€'" />
   		    <td th:text="${outOperation.details}" />
   		    <td th:text="${outOperation.createdAt}" />
   		    <td th:text="${outOperation.toAccount.client.lastname} + ' ' + ${outOperation.toAccount.client.firstname}" />
		</tr>
		</table>
		</div>
	</div>
</div>
</body>
</html>